name: {{ name }}
virtual_DNS_data_domain_name: {{ domain_name }}
virtual_DNS_data_floating_ip_record: {{ floating_ip_rec }}
virtual_DNS_data_record_order: {{ rec_order }}
virtual_DNS_data_default_ttl_seconds: {{ ttl }}
domain: {{ default_domain }}
